#name-error {
  display: none;
  color: orange;
}

#css {
  display: none;
}

#c-sharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}

#question6 {
  display: none;
}

#epicodus-logo {
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
}

.container-fluid {
  font-family: helvetica;
  color: #4a4a4a;
  margin-top: -60px;
}

.jumbotron {
  text-align: center;
  padding-bottom: 20px;
  background-color: white;
}

.jumbotron img {
  margin: 0px 20px;
}

.jumbotron h1 {
  font-size: 40px;
  margin-bottom: 20PX;
}

p.intro {
  font-size: 24px
}

.card {
  padding: 15px;
  background-color: #f4f4f4;
  margin: 20px;
}

/*.card h4 {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}*/

.btn-secondary {
  background: #00b3b4;
  border-color: #00b3b4;
  color: white;
  padding: 10px 15px;
  margin: 15px 0px;
}

.languages {
  text-align: center;
}

.languages img {
  margin: 0px 20px;
  height: 75px;
}
