#css {
  display: none;
}

#c-sharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

.container {
  margin-top: 20px;
}

.jumbotron {
  text-align: center;
  padding: 50px 0px;
  background-color: #969696;
  color: White;
}

.card {
  padding: 15px;
  background-color: lightgrey; 
}
