#css {
  display: none;
}

#c-sharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

#epicodus-logo {
  width: 150px;
  /*float: left;*/
}

.container-fluid {
  font-family: helvetica;
  color: #4a4a4a;
  margin-top: -60px;
}

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
  background-color: white;
}

.jumbotron img {
  margin: 0px 20px;
}

.jumbotron h1 {
  font-size: 60px;
}

.card {
  padding: 15px;
  background-color: ;
}

/*.form-control:focus {
  background-color: #white;
  color: white;
  box-shadow: 0 0 0 0.2rem #00b3b4;
}*/

.btn-secondary {
  background: #00b3b4;
  border-color: #00b3b4;
  color: white;
  padding: 10px 15px;
  margin: 15px 0px;
}

.languages {
  text-align: center;
}

.languages img {
  margin: 0px 20px;
  height: 75px;
}
